<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>The Apple Caique</title>
</head>
<body>
    <header>
        <div class="containerHeader">
            <div class="divLogo">
                <h1 class="titleHeader">TheMorize</h1>
            </div>
            <div class="divHeader">
                <a class="paragraphHeader">Teste</a>
                <a class="paragraphHeader">teste2</av>
                <a class="paragraphHeader">Teste3</a>
            </div>
        </div>
    </header>
    <main>
        <div class="containerImg">
            <img src="{{ url_for('static', filename='images/apple.png') }}" alt="Descrição da Imagem" class="img">
        </div>
    </main>
</body>
</html>