{% extends 'base.html' %}
{% block conteudo %}
    <h2 class="my-5" style="text-align: center;">Adicionar Novo Curso</h2>
    <hr>
    <form action="{{url_for('cria_curso')}}" method="POST" class="form-control">
        <label class="mb-1">Nome</label>
        <input class="form-control mb-2" type="text" name="nome" placeholder="Nome do curso" required>
        <label class="mb-1">Descrição</label>
        <input class="form-control mb-2" type="text" name="descricao" placeholder="Descrição do curso" required>
        <label class="mb-1">Carga Horária</label>
        <input class="form-control mb-2" type="number" name="ch" placeholder="CH do curso" required>
        <button class="btn btn-success mt-3" style="margin-right: 10px;">Adicionar</button>
        <a href="{{url_for('lista_cursos')}}" class="btn btn-link text-danger mt-3" style="text-decoration: none;">Voltar</a>
    </form>
{% endblock conteudo %}