.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #343A40;
    gap: 20px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.nav {
    width: 250px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #343A40;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
}

.nav:hover {
    transition: 0.3s;
    background-color: #585f66;
}