body {
    background-color: rgb(52, 58, 64, 0.8)
}

.divH1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}

.imagemH1 {
    width: 120px;
}


.formulario{
    text-align: center;
}

.input {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.textInput {
    color:#F4F5F6;
    font-weight: bold;
    text-align: center;
}

.divBotao {
    display: inline-flex;
    float: initial;
}

.botao {
    flex:1;
    background-color: rgb(0,100,255);
    width: 120px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 20px;
    margin: auto;
    margin-top:10px;
    margin: 0 10px 0 10px;
}

.textoBotao {
    flex:1;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.paragraph {
    margin: 30px 0 30px 0;
}

.tabelaIMC{
    display:block;
    width: 400px;
    margin: auto;
}

