.containerHeader {
    background-color: #DB4A2E;
    padding: 40px 0 40px;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-right: 50px;
    margin-left: 50px;
}

.titleHome {
    font-size: 35px;
}

