.containerTitle {
  background-color: #343a40;
  padding: 20px 0;
}

.title {
  text-align: center;
  font-size: 40px;
}

.containerCard {
  display:flex; 
  justify-content:center;
  margin: 50px;
  flex: 1;
}
