.body{
    padding: 0;
    margin: 0;
}

.containerHeader {
    position: relative;
    background-color: #343A40;
    width: 100%;
    height:100px;
}

.divLogo{
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 20px;
}

.titleHeader{
    color: #F4F5F6;
    font-size: 30px;
    font-weight: bold;
}

.divHeader{
    position: absolute;
    display: flex;
    right: 5%;
    top: 40%;
    gap: 40px;
    height:100px;
}

.paragraphHeader {
    color: #F4F5F6;
    cursor: pointer;
    font-weight: bold;
}

.img {
    width: 10%;
    margin: 0 auto;
    display: flex;
}
