.nav {
  display: flex;
  gap: 40px;
  position: absolute;
  top: 20px;
  width: 100%;
  justify-content: center;
}

.navLink {
  background: none;
  color: #FFFFFF;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.navLink:hover{
  color:#CCCCCC; 
  text-decoration: underline;
}

.logout {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 150px;
  height: 30px;
  color:#343a40;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  transition: 0.3s;
  background-color: #DDDDDD;
}